:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 5px auto;
  text-align: center;
}

.board h1 {
  color: #eee;
  margin-bottom: 16px;
}

.board button {
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 40%;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  border-color: #E5B8F4;;
}

.board button:hover {
  background: #eee;
  color: #222;
}

.board .game {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-left: 8%;
}

.answers {
  font-size: 20px;
  border-style: groove;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  border-style: ridge;
  border-width: 4px;
  border-color: #E5B8F4;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 75px;
  height: 75px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.square:hover {
  background: #eee;
  color: #222;
}

.gameTitle {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: fit-content;
}

.customDiv{
  width: 370px;
  text-align: center;
  margin-top: 20px;
}

.responseSymbol{
  font-size: 24px;
  margin: 0 auto;
  width: fit-content;
}

ol li { list-style:none }

.navbar {
  height: 60px;
  position: relative;
}

.nav-elements ul {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.menu-icon {
  display: block;
  cursor: pointer;
  display: none;
}

.btn_nav_bar{
  color: #E8A0BF;
  text-decoration: none;
  font-size: 26px;
  background-color: #242424;
  border: #242424;
  cursor: pointer;
}

@media (max-width: 600px) {
  
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    margin-top: 0px;
    position: absolute;
    top: 60px;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.05s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    
    width: 100%;
    background-color: #242424;
  }

  .nav-elements ul {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .link_text {
    color: #09f;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.border_trivial {
  border-width: 3px;
  margin-bottom: 10px;
  /* border-style: solid; */
  /* border-top-left-radius: 55px; */
  /* border-bottom-right-radius: 29px; */
  border-color: #E5B8F4;
  font-size: 20px;
  background-color: #892d67;
  border-radius: 3px;
}

.border_sanction_player{
  /* color: #c1271b; */
  background-color: #5F264A;
  margin-top: 15px;
  /* border-top-left-radius: 6px;*/
}

.question_number{
  font-weight: bolder;
  background-color: #865DFF;
  color: black;
  /* border-radius: 6px; */
  margin-top: 10px;
  font-size: large;
}

.question_image{
  width: 300px;
  height: 260px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 7%;
  border-color: #E5B8F4;
  border-width: 3px;
}

.answers_style{
  /* border: 2px solid; */
  padding: 10px;
  box-shadow: 5px 3px #E5B8F4;
  /* border-width: 5px; */
  /* border-style: ridge; */
  border-color: #E5B8F4;
}

.questions_support_form_input_text{
  background-color: #c9c17e2b;
  /* color: red; */
  width: 70%;
  margin: 10px;
  font-size: unset;
  border-radius: 10p;
  color: white;
}

.questions_support_form_text_area{
  background-color: #c9c17e2b;
  /* color: red; */
  width: 70%;
  margin: 10px;
  font-size: unset;
  border-radius: 10p;
  color: white;
  resize: none;
}

